@{
    ViewBag.Title = "Simple Crypto";
}

@section scripts{
    <script src="~/Scripts/MyScripts/CryptoClient.js"></script>
}

<h3>Простое шифрование</h3>

<div ng-app="SimpleCrypto" style="margin-top: 5px" ng-controller="CryptoController">
    <form ng-submit="Encrypt(inputMsg)">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Сообщение" ng-model="inputMsg" />
        </div>
        <button type="submit" class="btn">Зашифровать</button>
        <div class="alert alert-danger" style="margin-top: 10px" ng-show="alert">Ошибка: {{alertMsg}}</div>
    </form>

    <style>
        td {
            word-wrap: break-word;
        }
    </style>
    <table class="table" style="margin-top: 10px; table-layout: fixed;">
        <tr class="info">
            <td>Входное</td>
            <td>Шифрованное</td>
        </tr>
        <tr ng-repeat="r in outputLog">
            <td>{{r.input}}</td>
            <td>{{r.output}}</td>
        </tr>
    </table>
</div>